.ui-selecting { 
    background: #707070 ;            
}

.ui-selected { 
    background: #EEEEEE; 
    color: #000000; 
}

#drawingPanel {
    width: 1000px;
    height: 600px;
}

#controlListCell {
    vertical-align: top;
}

#controlList {
    width: 100px;
}

#controlAttrsCell {
    vertical-align: top;
}

#controlAttrs {
    width: 100px;
}

.control {
    border: 1px dotted;
    display: table;
}

.handle {
    width: 10px;
    border: 1px solid;
    display: table-cell;
}

.content {
    display: table-cell;
}

.content-div {
    border: 1px dotted;
    min-width: 100px;
    min-height: 30px;
}

.content-span {
    border: 1px dotted;
    min-width: 100px;
    min-height: 30px;
}