<!--
    AngularJs Controller Example
    1. define module and controller 
    2. view get data from controller 
-->
<html>
 <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    
	<style>
		input.ng-touched.ng-invalid {
            background-color:red;
        }

        input.ng-touched.ng-valid {
            background-color:lightgoldenrodyellow;
        }
	</style>
	
	<script>
        // define testApp module
        var app = angular.module('app', []);
		
		app.controller("TestController", function($scope, $element){
			$element;
			//
			
			$scope.update = function(user){
				var formInputs = $element.find("input");
				console.log("Num of Input Found: " + formInputs.length);
				for (var i=0; i<formInputs.length; i++){
					var formInput = formInputs[i];
					formInput.disabled = true;
				}
				var formButtons = $element.find("button");
				console.log("Num of Button Found: " + formButtons.length);
				for (var i=0; i<formButtons.length; i++){
					var formButton = formButtons[i];
					if (formButton.value != "Save"){
						formButton.disabled = true;
					}
				}
			};
		});
		
    </script>
 </head>

 <body>
	<div ng-app="app">
		<input type="text" /><br />
		<input type="text" /><br />
		<div ng-controller="TestController">
			<form name="form" ng-submit="update(user)" >
				<div><h1>Test Controller<h1></div>
				<div>
					<input type="text" /><br />
					<input type="text" /><br />
					<input type="text" /><br />
				</div>
				<label>Name: </label><input type="text" ng-model="user.name"  /><br />
				<label>Address: </label><input type="text" ng-model="user.address" /><br />
				<label>Phone: </label><input type="text" ng-model="user.phone" /><br />
				<button ng-submit="update(user)" value="Save" >Save</button>
				<button>button</button>
				<button>button</button>
				<button>button</button>
			</form>
		</div>
		<input type="text" /><br />
		<input type="text" /><br />
	 </div>
 </body>

</html>